<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <profileable android:shell="true" />
        <receiver
            android:name=".BenchmarkSeederReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jukul.readspeeder.BENCHMARK_SEED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
